span.material-icons.restart {
    font-size: 19px;
    color: #212529;
    font-weight: 800;
    text-shadow: 0px 0px 10px #145300;
}



input.inrange {
    max-height: 8px;
}

.res{
columns: 3;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.res span.res-one{
    display: inline-flex;
    max-width: 16px;
    min-height: 16px;
    padding: 0px;
    margin: 0px 10px 0px 10px;
    border-radius: 100%;
}
.res span.res-two{
    display: inline-flex;
    width: 133px;
    margin: 0px 0px 0px 0px !important;
    height: 17px !important;
    padding: 5px;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
    align-items: flex-start;
}
.res span.res-three {
    width: 60px;
    font-size: 12px;
    background: #309f0d;
    color: #fff;
    display: flex;
    margin: 0px 0px 0px 0px !IMPORTANT;
    height: 17px !important;
    padding: 5px 20px;
    border-radius: 4px;
    box-shadow: 0px 10px 5px -8px #000;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
}
h1.wrap-title{
font-size: 43px;
    margin: 20px 25px 20px 25px;
    color: #114c00;
    font-weight: 900;
    text-transform: uppercase;
}
.wrap {
    margin: 0px auto;
    display: flex;
    width: 100%;
}
.wrap .left {
    width: 68.6%;
    display: flex;
    padding: 15px;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: center;
    margin: 0px 25px 0px 0px;
}
.wrap .right {
    width: 100%;
    padding: 15px;
    background: #309f0e38;
    margin: 0px 25px 0px 25px;
    border-left: 3px solid #000;
}

ul.auto{
    max-width: 100%;
    padding: 0px;
    margin: 20px auto;
    font-size: 13px;
    display: flex;
    width: 100%;
    overflow-x: hidden;
    word-break: break-all;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    align-items: center;
}



    /* Styling for the tab menu */
    .nav-tabs {
        border: none;
        margin-bottom: 0px;
    }
.nav-tabs li.nav-item{margin: 0px 4.7px 0px 0px;}
    .nav-link {
        background-color: #fcbf0b;
        color: #000;
        border-radius: 0px !IMPORTANT;
        transition: background-color 1.3s ease;
        position: relative;
    }

    .nav-link.active,
    .nav-link:focus,
    .nav-link:hover {
        background-color: #000;
        color: #ffc009;
    }

    /* Styling for the tab content */
    .tab-pane {
        background-color: #309f0e38;
        border: 1px solid #000;
        border-radius: 0 10px 10px 10px;
        padding: 6px;
        transition: background-color 0.3s ease;
    }

    .tab-pane.active {
        background-color: #114c00;
        color: #ffc009;
        padding: 15px 20px 15px 20px;
        max-width: 99.3%;
        margin: 0px 0px 40px 0px;
        box-shadow: 0px 40px 40px -30px #000;
        border: 1px dotted #ffc009;
        border-radius: 0px 0px 10px 10px;
    }

.nav-link.active {
    border-left: 1px dotted #ffc009 !important;
    background: #114c00 !important;
    color: #fdbf0d !important;
    border-right: 1px dotted #ffc009 !important;
    border-top: 1px dotted #ffc009 !important;
    border-radius: 0;
    border-bottom: 1px solid #114c0000 !important;
}

.nav-tabs span.material-symbols-outlined {
    font-size: 20px;
    line-height: 0;
    padding: 10px 0px 10px 0px;
    margin: 0px auto;
    display: flex;
}

button.nav-link:hover {
    background: #114c00;
    color: #fdbf0d;
    border-left: 1px dotted #fdbf0d !IMPORTANT;
    border-radius: 0;
    border-right: 1px dotted #fdbf0d !IMPORTANT;
    border-top: 1px dotted #fdbf0d !IMPORTANT;
    border-bottom: 1px dotted #ffc00900 !IMPORTANT;
}

img.admin-social {
    width: auto;
    height: 30px;
    margin: 0px 0px 10px 0px;
}
input.button.sharing {
    background: #309f0e;
    padding: 5px 40px;
    border-radius: 8px;
    border: none;
    text-transform: uppercase;
    font-weight: 500;
    color: #fff;
    box-shadow: 0px 20px 10px -15px #000;
}

input.button.sharing:hover {
    background: #114c00;
    color: #fdbf0d;
    box-shadow: 0px 20px 10px -15px #114c00;
}
